# Model files
pretrained
*.bpe
*.encoder.json
*.tiktoken
*.model
*.vocab
*.pt
tokenizer.json
tokenizer_vocab.json
model.json
*_trainer.json
loss.txt
eval.txt
*.zip

# Jupyter notebooks
.ipynb_checkpoints

# Build output
__pycache__
*.py[oc]
build
dist
wheels
*.egg-info
.cache

# Virtual environments
.venv

# Coverage
.coverage
.coverage.*
.coverage_html/
coverage.xml
*.cover
.pytest_cache/

# Tools
.mypy_cache
.ruff_cache

# Log files
*.log
nohup.out

# Temporary files
tmp
.tmp
.cache
.eslintcache
tsconfig.tsbuildinfo

# Environment variables
.env
.env.*
!.env.example

# Editors

## VS Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history
*.code-workspace

# OS

## MacOS
.DS_Store
._*

## Linux
*~
.Trash-*
